*.pyc
*.bak
*.d
*.so
*.pcm
*.txt
*.pdf
*~
*.root
*.png
*.json
core.*
__init__.py
*/compare
config.json
PicoProducer/config
PicoProducer/config/config*
PicoProducer/config/config.json
PicoProducer/samples/files
PicoProducer/output
PicoProducer/data/jsonpog
Plotter/plots
Plotter/tutorial/plots
Fitter/*/*plots*
Fitter/*/log
Fitter/Zpt/weights
Plotter/openCanvas.py
Plotter/table*.tex
Plotter/OG_tables
Plotter/NewTables
Fitter/fcasalin.cc
Fitter/condor_logs
Fitter/*.log
Fitter/output_pt*
Fitter/WorkFlow_LOGs*